<div id="<%= dom_id room %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Slug name:</strong>
    <%= room.slug_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= room.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Deck type:</strong>
    <%= room.deck_type %>
  </div>
</div>
