<div class="navbar shadow-sm">
  <div class="navbar-start px-10">YAPP
    </div>
      <div class="navbar-end px-10">
      <button class="btn btn-primary" onclick="new_room.showModal()"><%= t("homepage.create_room") %></button>
      <%= render "application/new_room" %>
  </div>
</div>
